{:tier :glm-5.2, :verse 5, :comments ["<b>A terceira vez</b><br>Ela lhes diz: \"Eis que vos tenho conjurado.\""], :book "song-of-songs", :voice :ibn-ezra, :lang :pt, :chapter 3, :timestamp "2026-07-27T23:46:47.820378387Z", :translated-from :en, :model "glm-5.2"}