{:tier :glm-5.2, :verse 19, :comments ["<b>E estas são as gerações de Yitsjac.</b> Os acontecimentos de seus dias e seus cronistas." "<b>Avraham gerou a Yitsjac.</b> Nele somente Avraham foi chamado a ter descendência."], :book "genesis", :voice :sforno, :lang :pt, :chapter 25, :timestamp "2026-07-27T20:31:33.391397559Z", :translated-from :en, :model "glm-5.2"}