{:tier :glm-5.2, :verse 25, :comments ["<b>E disse Elohim.</b> Isto é uma advertência."], :book "exodus", :voice :rashi, :lang :pt, :chapter 19, :timestamp "2026-08-02T09:56:50.703527383Z", :translated-from :en, :model "glm-5.2"}